version: '3.8'

services:
  # --- MICROSERVICIOS ---
  api:
    build: ./api
    container_name: api
    ports:
      - "3000:3000"
    depends_on:
      - mongo
      - broker
      - keycloak
    environment:
      - PORT=3000
      - MONGO_URL=mongodb://mongo:27017/resto
      - RABBIT_URL=amqp://guest:guest@broker:5672
      - KEYCLOAK_ISSUER=http://localhost:8080/realms/resto
      - KEYCLOAK_JWKS_URL=http://keycloak:8080/realms/resto/protocol/openid-connect/certs
      - KEYCLOAK_AUTH_URL=http://localhost:8080/realms/resto/protocol/openid-connect/token
    restart: unless-stopped
    networks:
      - app-network

  servicio-cocina:
    build: ./servicio-cocina
    container_name: cocina
    depends_on:
      - mongo
      - broker
    environment:
      - MONGO_URL=mongodb://mongo:27017/resto
      - RABBIT_URL=amqp://guest:guest@broker:5672
    restart: unless-stopped
    networks:
      - app-network

  # --- INFRAESTRUCTURA ---
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  broker:
    image: rabbitmq:3-management
    container_name: broker
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    networks:
      - app-network

  # --- SEGURIDAD ---
  keycloak:
    image: quay.io/keycloak/keycloak:22.0.0
    container_name: keycloak
    command: start-dev
    ports:
      - "8080:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    volumes:
      - keycloak-data:/opt/keycloak/data
    networks:
      - app-network

volumes:
  mongo-data:
  keycloak-data:

networks:
  app-network:
    driver: bridge
